html,
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    font-size: 18px;
}

html {
    background: rgba(36, 36, 36, 1);
}

fieldset {
    border: none;
}

form {
    width: calc(100% - 70px);
    position: relative;
    left: 35px;
    .input {
        position: relative;

        input, select, textarea {
            width: 100%;
            padding: 10px 0;
            font-size: 16px;
            margin-bottom: 30px;
            border: none;
            border-bottom: 1px solid rgba(0, 212, 255, 0.5);
            outline: none;
            background-color: transparent;
            text-align: right;
            color: white !important;
            &:focus ~ label {
                top: -25px;
                left: 0;
                color: white;
                font-size: 12px;
            }
            &:focus,
            &:active {
                background-color: transparent;
                text-align: left;
            }
        }
        textarea {
            height: 150px;
        }
        label {
            position: absolute;
            top: -9px;
            left: 2px;
            padding: 10px 0;
            font-size: 18px;
            color: white;
            pointer-events: none;
            transition: 0.5s;
        }
    }
}

.header {
    display: inline-block;
    width: 100%;
    padding: 0.5rem;
    h1 {
        float: left;
        font-size: 1.3rem;
        @media screen and (max-width: 896px) {
            color: white;
            text-shadow: 0 0 2px black;
        }
    }
    .header-button-class {
        float: right;
        //tailwind button css from https://getcssscan.com/css-buttons-examples
        button {
            background-color: #ffffff;
            border: 1px solid rgb(209, 213, 219);
            border-radius: 0.5rem;
            box-sizing: border-box;
            color: #111827;
            font-family: "Inter var", ui-sans-serif, system-ui, -apple-system,
                system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial,
                "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
                "Segoe UI Symbol", "Noto Color Emoji";
            font-size: 0.875rem;
            font-weight: 600;
            line-height: 1.25rem;
            padding: 0.75rem 1rem;
            text-align: center;
            text-decoration: none #d1d5db solid;
            text-decoration-thickness: auto;
            box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
            cursor: pointer;
            user-select: none;
            -webkit-user-select: none;
            touch-action: manipulation;
            margin-right: 0.5rem;
        }

        button:hover {
            background-color: rgb(249, 250, 251);
        }

        button:focus {
            outline: 2px solid transparent;
            outline-offset: 2px;
        }

        button:focus-visible {
            box-shadow: none;
        }
    }
}

.container {
    height: 100vh;
}
.info-section {
    width: 30%;
    margin: 0 auto;
    position: absolute;
    top: 45%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); 
    left: 30%;
    .intro {
        font-size: 4.5139vw;
        line-height: 1.1;
        font-weight: 500;
        letter-spacing: 0.04em;
        color: #ffffff;
        font-family: "Inter var", ui-sans-serif, system-ui, -apple-system,
            system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
            sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
            "Noto Color Emoji";
        white-space: pre-line;
        text-shadow: 0 0 5px black;

        @media screen and (max-width: 896px) {
            font-size: 2rem;
        }
    }
    @media screen and (max-width: 896px) {
        width: 80%;
        left: 10%;
        top: 35%;
        -ms-transform: translate(0%, -50%);
        transform: translate(0%, -50%); 
    }
}
.blur-layer {
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: rgb(2, 0, 36);
    background: linear-gradient(
        275deg,
        rgba(2, 0, 36, 0.5) 0%,
        rgba(9, 9, 121, 0.5) 35%,
        rgba(0, 212, 255, 0.5) 100%
    );
}

.modal-window {
    width: 70%;
    position: absolute;
    transition: 1s;
    height: 80vh;
    border-radius: 15px;
    left: 15%;
    top: 50%;
    transform: translateY(-50%);
    background: #0a100f;
    z-index: 2;
    color: #ffffff;
    padding: 0.5rem;

    .close-modal {
        position: absolute !important;
        right: 30px !important;
        top: 25px !important;
        background: transparent !important;
        border: transparent !important;
        color: white !important;
        width: 25px !important;
        height: 25px  !important;
        font-size: 22px !important;
        line-height: 1.1 !important;
        font-weight: 500 !important;
        letter-spacing: 0.04em !important;
        padding: 0 !important;
    }

    .modal-title {
        position: relative;
        left: 25px;
        font-size: 2rem;
        width: 150px;
    }

    fieldset {
        button {
            width: 125px !important;
            height: 50px !important;
            font-size: 18px !important;
            color: rgba(0, 212, 255, 0.5) !important;
            background: transparent !important;
            border: 2px solid rgba(0, 212, 255, 0.5) !important;
            margin-top: 15px !important;
            transition: 0.5s !important;
            &:hover,
            &:active {
                background: rgba(0, 212, 255, 1) !important;
                color: white !important;
            }
            &:active {
                margin-top: 17px !important;
                transition: 0s !important;
            }
        }
    }
    
}

.sign-in-up {
    .hide-form-title {
        h2 {
            display: none;
        }
    }
    .close-modal {
        top: 44px !important;
    }
    .sign-in-up-selector-button {
        background: transparent;
        border: transparent;
        font-size: 16px;
        color: rgba(0, 212, 255, 0.5);
        position: absolute;
        right: 85px;
        top: 46px;
        @media screen and (max-width: 290px) {
            top: 400px;
            left: 43px;
            right: initial;
            width: 125px;
            height: 50px;
            font-size: 18px;
            background: transparent;
            border: 2px solid rgba(0, 212, 255, 0.5);
            margin-top: 15px;
            transition: 0.5s;
            &:hover,
            &:active {
                background: rgba(0, 212, 255, 1);
                color: white;
            }
            &:active {
                margin-top: 17px;
                transition: 0s;
            }
        }
    }
    width: 400px;
    height: 500px;
    left: 50%;
    transform: translate(-50%, -50%);
    fieldset {
        button {
            width: 125px;
            height: 50px;
            font-size: 18px;
            color: rgba(0, 212, 255, 0.5);
            background: transparent;
            border: 2px solid rgba(0, 212, 255, 0.5);
            margin-top: 15px;
            transition: 0.5s;
            &:hover,
            &:active {
                background: rgba(0, 212, 255, 1);
                color: white;
            }
            &:active {
                margin-top: 17px;
                transition: 0s;
            }
        }
    }
}

button {
    cursor: pointer;
    font-family: "Inter var", ui-sans-serif, system-ui, -apple-system, system-ui,
        "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
}

.modal-transition-enter {
    opacity: 0;
}
.modal-transition-enter-active {
    opacity: 1;
    transition: opacity 300ms, transform 300ms;
}
.modal-transition-exit {
    opacity: 1;
}
.modal-transition-exit-active {
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
    -webkit-transition-delay: 9999s;
}

@media screen and (max-width: 540px) {
    .sign-in-up {
        width: 100% !important;
        height: 100% !important;
        left: 0 !important;
        border-radius: 0px !important;
        transform: none;
        top: 0;
    }
    .modal-window {
        width: 100% !important;
        height: 100% !important;
        left: 0 !important;
        border-radius: 0px !important;
        transform: none;
        top: 0;
    }
}
